* {
    box-sizing: border-box;
}

a, button {
    transition: all .3s ease-in-out;
}

html {
    font-size: 10px;
}

body.lock {
    overflow: hidden;
}

.modal {
    min-height: 100vh;
    background-color: rgb(211, 253, 200);
    display: flex;
    align-items: center;
}

.modal__pos {
    width: 100%;
    height: 100%;
}

.modal__button {
    display: block;
    margin: 40px auto;
    font-size: 4rem;
    padding: 20px 40px;
    outline: none;
    border: 2px solid rgb(255, 178, 178);
    border-radius: 10px;
    background-color: rgb(165, 210, 228);
    color: purple;
}

.modal__button:hover {
    cursor: pointer;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, .5);
    transition: all .3s ease;
}

.modal__button--a {
    text-decoration: none;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup:target .popup__content {
    opacity: 1;
    transform: perspective(600px) translate(0, 0) rotateX(0);
}

.popup.open {
    opacity: 1;
    visibility: visible;
}

.popup.open .popup__content {
    opacity: 1;
    transform: perspective(600px) translate(0, 0) rotateX(0);
}

.popup__content {
    height: 50%;
    width: 80%;
    border-radius: 10px;
    background-color: rgba(255, 200, 246, 0.8);
    position: relative;
    transition: all .5s ease-in-out;
    transform: perspective(600px) translate(0, -100%) rotateX(45deg);
    opacity: 1;
}

.popup__close {
    position: absolute;
    right: 5px;
    top: 5px;
    text-decoration: none;
    font-size: 1.5rem;
    color: #000;
}

.popup__h1 {
    text-align: center;
}

.popup__p {
    text-align: center;
}

